# 1 - lists

which can be written as a list of comma-separated values (items) between square brackets.

### list are mutibale it is possible to change their content:

In [3]:
l = [1, 4, 9, 16, 25]
l

[1, 4, 9, 16, 25]

1 -Indexing

In [6]:
print(l[0]) # return fisrt item of the list 

print(l[4]) # return last 

print(l[-1]) # return last

1
25
25

2- slicing # slicing returns a new list

In [9]:
print(l[-3:])
print(l[-3:5])

[9, 16, 25]
[9, 16, 25]

# Lists also support operations like concatenation:

In [10]:
l + [36, 49, 64, 81, 100]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# 2- strings

are immutable, it is not possible to change their content

In [4]:
"Paris rabbit got your back :)! Yay!"  # double quotes

'Paris rabbit got your back :)! Yay!'

In [5]:
'spam eggs' # single quotes

'spam eggs'

In [6]:
# escaping a quote:

'doesn\'t'  # use \' to escape the single quote 0r

"doesn't"

In [7]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [8]:
s = 'First line.\nSecond line.'

In [10]:
print(s)

First line.
Second line.

If you don’t want characters prefaced by \ to be interpreted as special characters, you can use raw strings by adding an r before the first quote:

In [12]:
print('C:\some\name')  # here \n means newline!

C:\some
ame

In [13]:
print(r'C:\some\name')  # note the r before the quote

C:\some\name

Strings can be concatenated (glued together) with the + operator, and repeated with *

In [14]:
3 * 'un' + 'ium'  #  3 times 'un', followed by 'ium'

'unununium'

Two or more string literals (i.e. the ones enclosed between quotes) next to each other are automatically concatenated

In [15]:
'Py' 'thon'

'Python'

# indexing:
Strings can be indexed (subscripted), with the first character having index 0. 
Note that since -0 is the same as 0, negative indices start from -1.

In [16]:
word = 'Python'

print(word[0]) # character in position 0

print(word[5])  # character in position 5

print(word[-1])  # last character

print(word[-2])  # second-last character

print(word[-6]) # first character

P
n
n
o
P

# slicing 
Note how the start is always included, and the end always excluded.

In [17]:
print(word[0:2]) # characters from position 0 (included) to 2 (excluded)

print(word[2:5])  # characters from position 2 (included) to 5 (excluded)

print(word[:2])   # character from the beginning to position 2 (excluded)

print(word[4:])   # characters from position 4 (included) to the end

print(word[-2:])  # characters from the second-last (included) to the end

print(word[:2] + word[2:])

print(word[:4] + word[4:])

Py
tho
Py
on
on
Python
Python

Python strings cannot be changed — they are immutable. Therefore, assigning to an indexed position in the string results in an error:

In [18]:
print(word[0] = 'J') # error

SyntaxError: keyword can't be an expression (89716507.py, line 1)

In [19]:
x ='python'
y ='or'

In [20]:
print(x[2:4]+ y)

thor

In [21]:
x = [1,2,3,4,5]

In [22]:
for i in x:
    print(i+10)

11
12
13
14
15

In [23]:
y = [1,2,3,4,5]

In [24]:
y.append(6)
print(y)

[1, 2, 3, 4, 5, 6]

In [25]:
z= [8,9,10,12]
for i in z:
    y.append(i)
print(y)

[1, 2, 3, 4, 5, 6, 8, 9, 10, 12]

In [26]:
x=['a','b','c']
y=[1,2,3]
q=[5,6,7]

In [27]:
z= [x,y,q]
print(z)

[['a', 'b', 'c'], [1, 2, 3], [5, 6, 7]]

In [28]:
print([z[0][2],z[1][1],z[2][1]])

['c', 2, 6]

# 3.2  Fibonacci series:
# the sum of two elements defines the next

In [1]:
a, b = 0, 1
while a < 10:
    print(a)
    a, b = b, a+b

0
1
1
2
3
5
8

# The keyword argument end can be used to avoid the newline after the output, or end the output with a different string:  end=','

In [2]:
a, b = 0, 1
while a < 1000:
    print(a, end=',')
    a, b = b, a+b

0,1,1,2,3,5,8,13,21,34,55,89,144,233,377,610,987,

# 4.1. if Statements

In [5]:
x = int(input("Please enter an integer: "))
if x < 0:
    x = 0
    print('Negative changed to zero')
elif x == 0:
    print('Zero')
elif x == 1:
    print('Single')
else:
    print('More')

Please enter an integer: 2
More

# 4.2. for Statements

In [8]:
words = ['cat', 'window', 'defenestrate']
for i in words:
    print(i, len(i))

cat 3
window 6
defenestrate 12

# 4.3. The range() Function

In [10]:
print(range(6))

range(0, 6)

In [12]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [14]:
l1 = list(range(5, 10))
print(l1)

l2 = list(range(0, 10, 3))
print(l2)

l3 = list(range(-10, -100, -30))
print(l3)

[5, 6, 7, 8, 9]
[0, 3, 6, 9]
[-10, -40, -70]

To iterate over the indices of a sequence, you can combine range() and len() as follows:

In [15]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [16]:
print(range(4))

range(0, 4)

In [17]:
sum(range(4))

6

In [27]:
for i in range(4):
    print(i)

0
1
2
3

# 4.4. break and continue Statements, and else Clauses on Loops¶

In [31]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [32]:
for num in range(2, 10):
    if num % 2 == 0:
        print("Found an even number", num)
        continue
    print("Found an odd number", num)

Found an even number 2
Found an odd number 3
Found an even number 4
Found an odd number 5
Found an even number 6
Found an odd number 7
Found an even number 8
Found an odd number 9

# 4.7. Defining Functions

We can create a function that writes the Fibonacci series to an arbitrary boundary:

In [33]:
def fib(n):    # write Fibonacci series up to n
    """Print a Fibonacci series up to n."""
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

In [34]:
fib(2000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987 1597

In [35]:
def f(a, L=[]):
    L.append(a)
    return L

In [36]:
print(f(1))
print(f(2))
print(f(3))

[1]
[1, 2]
[1, 2, 3]

# 4.8Unpacking Argument Lists

In [37]:
list(range(3, 6))            # normal call with separate arguments

[3, 4, 5]

In [38]:
args = [3, 6]
list(range(*args))            # call with arguments unpacked from a list

[3, 4, 5]

In [39]:
args = [3, 6]
list(range(args))            # call with arguments unpacked from a list
[3, 4, 5]

TypeError: 'list' object cannot be interpreted as an integer

# 4.8. Lambda Expressions

In [41]:
def make_incrementor(n):
    return lambda x: x + n

f = make_incrementor(42)
f(0)

42

In [42]:
f(1)

43

# 5. Data Structures

In [43]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
fruits.count('apple')

2

In [44]:
fruits.count('tangerine')

0

In [45]:
fruits.index('banana')

3

In [47]:
fruits.index('banana', 4)  # Find next banana starting at position 4

6

In [49]:
print(fruits.reverse())

None

In [50]:
fruits.append('grape')
fruits

['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana', 'grape']

In [51]:
fruits.sort()

In [52]:
fruits.pop()

'pear'

# 5.1 Using Lists as Stacks

In [53]:
stack = [3, 4, 5]
stack.append(6)
stack.append(7)
stack

[3, 4, 5, 6, 7]

In [54]:
stack.pop()

7

In [55]:

print(stack)

print(stack.pop())

print(stack.pop())

print(stack)

[3, 4, 5, 6]
6
5
[3, 4]

# 5.2. The del statement

In [56]:
a = [-1, 1, 66.25, 333, 333, 1234.5]
del a[0]
a

[1, 66.25, 333, 333, 1234.5]

In [57]:
del a[2:4]
a

[1, 66.25, 1234.5]

In [58]:
del a[:]
a

[]

# 5.3. Tuples and Sequences

In [59]:
t = 12345, 54321, 'hello!'
t

(12345, 54321, 'hello!')

In [60]:
t[0]

12345

In [61]:
u = t, (1, 2, 3, 4, 5)
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [62]:
t[0] = 88888  # Tuples are immutable:

TypeError: 'tuple' object does not support item assignment

# 5.4. Sets

In [63]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)

{'orange', 'banana', 'pear', 'apple'}

In [64]:
'orange' in basket

True

In [65]:
'crabgrass' in basket

False

In [66]:
a = set('abracadabra')
b = set('alacazam')

In [67]:
a

{'a', 'b', 'c', 'd', 'r'}

In [68]:
b

{'a', 'c', 'l', 'm', 'z'}

In [69]:
a - b  # letters in a but not in b

{'b', 'd', 'r'}

In [70]:
a | b                              # letters in a or b or both

{'a', 'b', 'c', 'd', 'l', 'm', 'r', 'z'}

In [71]:
a & b                              # letters in both a and b

{'a', 'c'}

In [72]:
a ^ b                              # letters in a or b but not both

{'b', 'd', 'l', 'm', 'r', 'z'}

In [73]:
a = {x for x in 'abracadabra' if x not in 'abc'}
a

{'d', 'r'}

# 5.5. Dictionaries

In [74]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
tel

{'jack': 4098, 'sape': 4139, 'guido': 4127}

In [75]:
tel['jack']

4098

In [76]:
del tel['sape']
tel['irv'] = 4127
tel

{'jack': 4098, 'guido': 4127, 'irv': 4127}

In [77]:
list(tel)

['jack', 'guido', 'irv']

In [78]:
sorted(tel)

['guido', 'irv', 'jack']

In [81]:
'guido' in tel

True

In [82]:
'jack' not in tel

False

In [83]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

# 5.6. Looping Techniques

In [85]:
knights = {'gallahad': 'the pure', 'robin': 'the brave'}
for k, v in knights.items():
    print(k, v)

gallahad the pure
robin the brave

In [86]:
for i, v in enumerate(['tic', 'tac', 'toe']):
    print(i, v)

0 tic
1 tac
2 toe

In [87]:
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [88]:
for i in reversed(range(1, 10, 2)):
    print(i)

9
7
5
3
1

In [89]:
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)

apple
apple
banana
orange
orange
pear

# 6. Modules

In [ ]:
''' 
# Fibonacci numbers module

def fib(n):    # write Fibonacci series up to n
    a, b = 0, 1
    while a < n:
        print(a, end=' ')
        a, b = b, a+b
    print()

def fib2(n):   # return Fibonacci series up to n
    result = []
    a, b = 0, 1
    while a < n:
        result.append(a)
        a, b = b, a+b
    return result
'''

In [95]:
import fibo

In [96]:
fibo.fib(1000)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377 610 987

In [97]:
fibo.fib2(1000)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987]

In [100]:
fib = fibo.fib
fib(500)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [101]:
from fibo import fib, fib2
fib(500)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [102]:
from fibo import *
fib(500)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [103]:
import fibo as fib
fib.fib(500)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

In [104]:
from fibo import fib as fibonacci
fibonacci(500)

0 1 1 2 3 5 8 13 21 34 55 89 144 233 377

# 7 - Input and Output

In [107]:
year = 2016
event = 'Referendum'
f'Results of the {year} {event}'

'Results of the 2016 Referendum'